/* border */

.b-1 {
    border-width: 1px;
}

.b-2 {
    border-width: 2px;
}

.b-3 {
    border-width: 3px;
}

.b-4 {
    border-width: 4px;
}

.b-5 {
    border-width: 5px;
}

/* border top */

.bt-1 {
    border-top-width: 1px;
}

.bt-2 {
    border-top-width: 2px;
}

.bt-3 {
    border-top-width: 3px;
}

.bt-4 {
    border-top-width: 4px;
}

.bt-5 {
    border-top-width: 5px;
}

/* border right */

.br-1 {
    border-right-width: 1px;
}

.br-2 {
    border-right-width: 2px;
}

.br-3 {
    border-right-width: 3px;
}

.br-4 {
    border-right-width: 4px;
}

.br-5 {
    border-right-width: 5px;
}

/* border bottom */

.bb-1 {
    border-bottom-width: 1px;
}

.bb-2 {
    border-bottom-width: 2px;
}

.bb-3 {
    border-bottom-width: 3px;
}

.bb-4 {
    border-bottom-width: 4px;
}

.bb-5 {
    border-bottom-width: 5px;
}

/* border left */

.bl-1 {
    border-left-width: 1px;
}

.bl-2 {
    border-left-width: 2px;
}

.bl-3 {
    border-left-width: 3px;
}

.bl-4 {
    border-left-width: 4px;
}

.bl-5 {
    border-left-width: 5px;
}

/* border style */
.bs-solid {
    border-style: solid;
}

.bs-dotted {
    border-style: dotted;
}

.bs-dashed {
    border-style: dashed;
}

.bs-double {
    border-style: double;
}

/* border color */
.bc-red {
    border-color: red;
}