/* step 4: conversion and correction  */

/* margin */

@each $length in $lengths {
    .m-#{$length} {
        margin: #{$length/2}rem;
    }

    .mt-#{$length} {
        margin-top: #{$length/2}rem;
    }

    .mr-#{$length} {
        margin-right: #{$length/2}rem;
    }

    .mb-#{$length} {
        margin-bottom: #{$length/2}rem;
    }

    .ml-#{$length} {
        margin-left: #{$length/2}rem;
    }

    .my-#{$length} {
        margin-top: #{$length/2}rem;
        margin-bottom: #{$length/2}rem;
    }

    .mx-#{$length} {
        margin-left: #{$length/2}rem;
        margin-right: #{$length/2}rem;
    }
}