@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin set-text-style($color, $font-size) {
    color: map-get($colors, $color);
    font-size: map-get($sizes, $font-size);
}

@mixin set-background-color($bg-color) {
    background-color: $bg-color;
    color: set-text-color($bg-color);
}