/* step 5: conversion and correction  */
/* padding */

@each $length in $lengths {
    .p-#{$length} {
        padding: #{$length/2}rem;
    }

    .pt-#{$length} {
        padding-top: #{$length/2}rem;
    }

    .pr-#{$length} {
        padding-right: #{$length/2}rem;
    }

    .pb-#{$length} {
        padding-bottom: #{$length/2}rem;
    }

    .pl-#{$length} {
        padding-left: #{$length/2}rem;
    }

    .py-#{$length} {
        padding-top: #{$length/2}rem;
        padding-bottom: #{$length/2}rem;
    }

    .px-#{$length} {
        padding-right: #{$length/2}rem;
        padding-left: #{$length/2}rem;
    }
}