/* step 3: define project variables */

/* fonts */
$poppins-font: "Poppins";
$byekan-font: "BYekan";

$lengths: (1, 2, 3, 4, 5);

$colors:(primary: #069c54, primary-alt: #048654, secondary: #6c757d, success: #28a745, warning:#ffc107, danger: #dc3545, info: #17a2b8, light: #fefefd, light-alt: #a6a6a6, dark: #393939, dark-alt: #707070, muted: #6c757d, white: #fff);

$sizes:(xs: 0.875rem, sm: 1rem, md: 1.25rem, lg: 1.5rem, xl: 2.25rem, xxl: 4rem);

$weights:(normal: 500, semi-bold: 600);

/* mobile */
@media (max-width: 768px) {
    $sizes: (xs: 0.75rem, sm: 0.938rem, md: 1rem, lg: 1.25rem, xl: 1.5rem, xxl: 2.25rem);
}