/* step 21: add css footer */
.footer {
    &__list {
        display: flex;
        justify-content: space-between;

        a:hover {
            color: map-get($colors, dark);
        }
    }

    &__social ul {
        display: flex;
        justify-content: space-between;
    }

    &__address pre {
        font-family: $poppins-font;
    }

}

@media (max-width: 768px) {
    .footer {
        &__list {
            flex-direction: column;
        }

        &__social ul {
            justify-content: flex-start;
        }

        &__address pre {
            white-space: inherit;
        }
    }
}