@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/* font size */
.font-size-xs {
    font-size: var(--xs-size);
}

.font-size-sm {
    font-size: var(--sm-size);
}

.font-size-md {
    font-size: var(--md-size);
}

.font-size-lg {
    font-size: var(--lg-size);
}

.font-size-xl {
    font-size: var(--xl-size);
}

/* font style */
.font-style-italic {
    font-style: italic;
}

.font-style-oblique {
    font-style: oblique;
}

.font-style-normal {
    font-style: normal;
}

/* font variant */
.font-variant-small-caps {
    font-variant: small-caps;
}

/* english font */
.english-font {
    font-family: var(--poppins-font);
    font-weight: var(--bold-font-weight);
}

/* persian font */
@font-face {
    font-family: "BYekan";
    src: url(../../fonts/BYekan.eot);
    src: url(../../fonts/BYekan.eot?#iefix) format("embedded-opentype"), url(../../fonts/BYekan.woff) format("woff"), url(../../fonts/BYekan.ttf) format("truetype"), url(../../fonts/BYekan.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}