.px-75 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.pb-35 {
    margin-bottom: 35px;
}

.title {
    color: var(--primary-color);
    font-size: var(--xs-size);
}

.subtitle {
    color: var(--dark-color);
    font-size: var(--md-size);
}

.h-100vh {
    height: 100vh;
}

.right-10 {
    right: 10px;
}

.bottom-10 {
    bottom: 10px;
}

@media (max-width: 768px) {
    .h-100vh {
        height: auto;
    }
}