/* direction */
.direction-ltr {
    direction: ltr;
}

.direction-rtl {
    direction: rtl;
}

/* text alignment */
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.text-align-justify {
    text-align: justify;
}

.vertical-alignment-super {
    vertical-align: sub;
}

/* text transform */
.text-transform-lowercase {
    text-transform: lowercase;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.text-transform-capitalize {
    text-transform: capitalize;
}

/* spacing */
.white-space-nowrap {
    white-space: nowrap;
}