/* step 13: add css about */
.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.about__content h3 {
    color: var(--primary-color);
    font-size: var(--xs-size);
}

.about__content h6 {
    color: var(--dark-color);
    font-size: var(--sm-size);
}

.about__content p {
    color: var(--dark-color-alt);
    font-size: var(--md-size);
}

@media (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }

    .about__content {
        margin-top: 1.5rem;
        text-align: center;
    }

    .about__figure img {
        max-width: 512px;
    }
}