/* step 19: add css contact */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__content {
    flex-basis: 70%;
}

.contact__content p {
    color: var(--dark-color);
    font-size: var(--md-size);
}

.contact__action {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        text-align: center;
    }

    .contact__content,
    .contact__action {
        width: 100%;
        flex-basis: 100%;
    }
}