/* step 21: add css footer */
.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__social ul {
    display: flex;
    justify-content: space-between;
}

.footer__address pre {
    font-family: var(--poppins-font);
}

@media (max-width: 768px) {
    .footer__list {
        flex-direction: column;
    }

    .footer__social ul {
        justify-content: flex-start;
    }

    .footer__address pre {
        white-space: inherit;
    }
}