.gallery__content > div {
    flex-basis: 25%;
}

.gallery img {
 width: 100%;
 height:  auto;
}

@media (max-width: 768px) {
    .gallery__content > div {
        flex-basis: 50%;
    }
}

@media (max-width: 480px) {
    .gallery__content > div {
        flex-basis: 100%;
    }
}