/* step 11: add css home  */
.home {
    display: flex;
    align-items: center;
}

.home__content,
.home__figure {
    flex-basis: 50%;
}

.home__content h2 {
    color: var(--primary-color);
    font-size: var(--xxl-size);
}

.home__content h5 {
    color: var(--dark-color);
    font-size: var(--lg-size);
}

@media (max-width: 768px) {
    .home {
        flex-direction: column-reverse;
    }

    .home__content {
        width: 100%;
        text-align: center;
    }

    .home__figure img {
        max-width: 512px;
    }
}