/* step 17: add css menu */
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    max-width: 200px;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1);
}

.menu__item h5 {
    color: var(--primary-color-alt);
    font-size: var(--xs-size);
}

.menu__item p {
    color: var(--dark-color-alt);
    font-size: var(--xs-size);
}

.menu__payment {
    display: flex;
    justify-content: space-between;
}

.menu__payment span {
    color: var(--dark-color-alt);
    font-size: var(--xs-size);
}

.menu__payment i {
    color: var(--primary-color);
    font-size: var(--md-size);
}

@media (max-width: 768px) {
    .menu__list {
        flex-direction: column;
    }

    .menu__item {
        max-width: 256px;
        margin-top: 2rem;
    }
}