/* step 9: add css menu */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1080px;
    height: 3rem;

    margin: 0 auto;
    padding: 0 0.75rem;
    background-color: var(--light-color);
}

.nav a {
    transition: 0.5s;
}

/* logo */
.nav__logo {
    font-size: var(--lg-size);
    color: var(--dark-color-alt);
}

#nav__toggle {
    display: none;
}

/* menu */
.nav__list {
    display: flex;
}

.nav__item {
    padding: 0 0.25rem;
}

.nav__link {
    padding: 0 0.15rem;
    color: var(--dark-color-alt);
    font-size: var(--sm-size);
}

.nav__link:hover,
.nav__logo:hover {
    color: var(--dark-color);
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    /* header */
    .nav__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #nav__toggle {
        display: block;
        font-size: var(--lg-size);
    }

    .nav__menu {
        width: 100%;
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__item {
        margin: 0.15rem 0;
    }

    .nav__link {
        display: block;
    }
}