.services {
    text-align: center;
}

.services__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__item i {
    color: var(--primary-color);
    font-size: var(--xxl-size);
}

.services__item h5 {
    color: var(--dark-color);
    font-size: var(--xs-size);
}

.services__item p {
    color: var(--dark-color-alt);
    font-size: var(--xs-size);
}

@media (max-width: 768px) {
    .services__list {
        flex-wrap: wrap;
    }
}