/* step 19: add css contact */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
        flex-basis: 70%;

        & p {
            @include set-text-style(dark, md);
        }
    }

    &__action {
        flex-basis: 30%;
        display: flex;
        justify-content: center;
    }
}

@include mobile {
    .contact {
        flex-direction: column;
        text-align: center;

        &__content,
        &__action {
            width: 100%;
            flex-basis: 100%;
        }
    }
}