.gallery {
    &__content>div {
        flex-basis: 25%;
    }

    & img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .gallery {
        &__content>div {
            flex-basis: 50%;
        }
    }
}

@media (max-width: 480px) {
    .gallery {
        &__content>div {
            flex-basis: 100%;
        }
    }
}