/* step 11: add css home  */
.home {
    display: flex;
    align-items: center;

    &__content,
    &__figure {
        flex-basis: 50%;
    }

    &__content h2 {
        @include set-text-style(primary, xxl);
    }

    &__content h5 {
        @include set-text-style(dark, lg);
    }
}


@include mobile {
    .home {
        flex-direction: column-reverse;

        &__content {
            width: 100%;
            text-align: center;
        }

        &__figure img {
            max-width: 512px;
        }
    }
}