/* step 17: add css menu */
.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        max-width: 200px;
        box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1);
    }

    &__item h5 {
        @include set-text-style(primary-alt, xs);
    }

    &__item p {
        @include set-text-style(dark-alt, xs);
    }

    &__payment {
        display: flex;
        justify-content: space-between;

        & span {
            @include set-text-style(dark-alt, xs);
        }

        & i {
            @include set-text-style(primary, md);
        }
    }

}

@include mobile {
    .menu {
        &__list {
            flex-direction: column;
        }

        &__item {
            max-width: 256px;
            margin-top: 2rem;
        }
    }
}