.services {
    text-align: center;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        & i {
            @include set-text-style(primary, xxl);
        }

        & h5 {
            @include set-text-style(dark, xs);
        }

        & p {
            @include set-text-style(dark-alt, xs);
        }
    }
}

@include mobile {
    .services {
        &__list {
            flex-wrap: wrap;
        }
    }
}