@import url(utils/_variables.css);
@import url(utils/_padding.css);
@import url(utils/_margin.css);
@import url(utils/_container.css);
@import url(utils/_position.css);
@import url(utils/_border.css);
@import url(utils/_display.css);
@import url(utils/_alignment.css);
@import url(utils/_borderRadius.css);
@import url(utils/_overflow.css);
@import url(utils/_font.css);
@import url(utils/_text.css);
@import url(utils/_color.css);
@import url(utils/_miscellaneous.css);
@import url(./components/_nav.css);
@import url(./components/_home.css);
@import url(./components/_about.css);
@import url(./components/_services.css);
@import url(./components/_menu.css);
@import url(./components/_contact.css);
@import url(./components/_footer.css);

body,
html {
    font-size: 16px;
    font-family: var(--poppins-font);
}

/* step 6 */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* step 7 */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}